<p><strong>Languages: </strong> Python, JavaScript, PHP, JAVA, C, Ruby</p>
<p><strong>Frameworks: </strong> Django, Node.js, Laravel, Spring Boot, Symfony, Phalcon, React.js</p>
<p><strong>Databases: </strong> PostgreSQL, MySQL, Redis</p>
<p><strong>Cloud:</strong>  AWS (EC2, S3, Lambda, Amplify), GCP</p>
<p><strong>DevOps & CI/CD:</strong> Docker, Kubernetes, Jenkins, GitHub Actions, Git, Bitbucket, Ansible</p>
<p><strong>Tools: </strong> Samba,  NodeRED, Atlassian tools, FTP, SFTP, SMB, Asterisk</p>
<p><strong>Testing: </strong> Jest, Codeception, PHPUnit, Selenium</p>
